.app {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 120px;
}

.app > .header {
  background-color: rgb(9, 61, 57);
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
}

.app > .header > .avatar {
  display: inline-block;
  float: left;
}

.app > .header > .roomname {
  display: inline-block;
  clear: left;
  margin-top: 5px;
  font-family: monospace;
  text-transform: uppercase;
  font-style: italic;
  text-shadow: rgb(226, 194, 9) 2px 2px;
  font-weight: 700;
  font-size: 40px;
  color: rgb(49, 44, 36);
  padding: 5px 30px;
  background-color: yellowgreen;
  border-radius: 20px;
  box-shadow: rgb(0, 0, 0) 3px 3px;
}

.app > form {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgb(15, 46, 71);
  padding: 15px;
}

.app > form > input {
  padding: 8px;
  border: none;
  flex: 0.6;
  border: none;
  width: 60%;
  border-radius: 20px;
}

.app > form > button {
  background-color: cornflowerblue;
  padding: 10px;
  flex: 0.1;
  border: none;
  border-radius: 100px;
  margin-left: 10px;
}

.app > form > button:hover {
  background-color: rgb(50, 148, 148);
  box-shadow: black 3px 3px;
  transition: background-color 500ms, box-shadow 500ms;
}

.chatMessage {
  display: block;
  margin: 5px;
  width: 100%;
  padding: 5px;
}

.chatMessage > .name {
  color: rgb(51, 99, 88);
  display: inline-block;
}

.chatMessage > .msg {
  color: rgb(170, 93, 25);
  display: inline-block;
}
